div.navBar {
    float: right;

    padding: 0;
}

nav {
}

.navBar li{
    border-style: solid;
    border-width: 1px;
    list-style-type: none;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 3vw;
}

.navBar li a {
    display: block;
    padding: 0px;
    background-color: #dddddd;
}
