<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Document</title>
</head>

<body>
  <div id="form">
    <div id="formHeader">
      <h3>Add Child</h3>
    </div>
    <div id="formBody">
      <div id="formItem">
        <label for="childName">Child Name: </label>
        <input type="text" name="childName" id="childName" placeholder="child name" />
      </div>
      <div id="formItem">
        <label for="smartwatchSN">Serial Number:</label>
        <select type="text" id="smartwatchSN"></select>
      </div>
    </div>
    <div id="formFooter">
      <button id="leftButton">Submit</button>
      <button id="rightButton">Cancel</button>
    </div>
  </div>
</body>

</html>