/*importing Archivo from google fonts*/
@import url('https://fonts.googleapis.com/css?family=Archivo&display=swap');

/* gridContainer styles */
.gridContainer {
  /* has no padding */
  padding: 0; 
  user-select: none;
}

/* a <ul> will be a row of cards if it was a child of a grid container*/
.gridContainer > ul {
  display: grid;
  grid-template-columns: repeat(auto-fit /*currently available columns*/, minmax(320px, 1fr));/*size of every card is between 320px and 1 part of available space*/
  grid-gap: 1rem;
  list-style-type: none;
  padding-left: 0;
}

/* a <li> will be a card if it was a child of a <ul> which is a child of a grid container*/
.gridContainer > ul > li {
  border: 1px solid #e2e2e2;/*gray border*/
  border-radius: 0.5rem;/*round edges*/
  box-shadow: 2.5px 5px 9px #888888; /*shadow settings*/
  background: white;
}

/* the shadows of a card are disabled when pressed */
.gridContainer > ul > li:active {
  box-shadow: none;
  transform: scale(0.99);/*shrink a little bit when pressed*/
}

.gridContainer > ul > li.unClickable:active {
  box-shadow: 2.5px 5px 9px #888888;
  transform: scale(1);
}

/* 
every card has: 
  - header
  - body
  - footer 
*/

/* The header on top*/
.cardHeader {
  width: 100%;/*same width as the card*/
  height: 40px;/*static height*/
  /* round top corners*/
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  text-align: center;
  background-color: #888888;
  padding: 0;
  margin: 0;
}

/* <h3> text within header */
.cardHeader > h3 {
  font-size: 200%;/*scalable text size 4 times larger than the base*/
  font-family: 'Archivo', sans-serif;/*using the imported font or sans-serif if not found*/
  color: #ffffff;
  margin: 0;
  line-height: 40px;/*to center it vertically*/
}


/* the body in the middle */
.cardBody {
  width: 100%;
  text-align: center; /*center text if any*/
}


/* setting the size and centering svg's and img's in the body */
.cardBody > img, .cardBody > svg {
  width: 220px;
  height: 220px;
  padding-top: 15px; 
  padding-bottom: 15px; 
  margin: auto;
  display: block;
}


/* the footer at the bottom */
.cardFooter {
  width: 100%;
  height: 30px;/*static height*/
  /* round bottom corners*/
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  text-align: center;
  /*no padding or margin*/
  padding: 0;
  margin: 0;
}

.cardFooter > h3 {
  font-size: 175%; /*smaller text than cardHeader > h3*/
  height: 100%;
  font-family: 'Archivo', sans-serif;
  color: #000000;
  margin: 0;
  line-height: 30px;
}
