/*general styling*/
@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");

@keyframes slideInFromDown {
  /*slide in animation (bottom->top)*/
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}


html {
  font-family: sans-serif;/*default font is sans-serif*/

}

body {
  margin: 0;
  background: #f6f5f7;
  color: #777;
}

.header {
  position: sticky;/*page title stays on top*/
  margin: auto;
  top:0;/*exactly on top of the page*/
  color: #333;
  text-align: center;
  padding: 2em 2em 2em; /*no padding in the bottom*/
  width: 35%; /*width title */
  border-radius: 0.5rem;/*round edges*/
  border-bottom: 1px solid #eee; /*a solid white border in the bottom*/
  box-shadow: 1px 2px 4px #888888; /*shadow settings*/

  background: white;
  z-index: 5;/*to ensure it's always on top*/
}

@media (max-width: 48em) {/*smaller header for smartphone and small screen*/
  .header{
    padding-top: 0.25em;
    font-size: xx-small;
    height: auto;
  }
}

/*settings for page title*/
#pageTitle {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
  font-family: Raleway, sans-serif;/*using the google font for the title, sans-serif if not found*/
  font-weight: bolder;
}

/*rules for the area were html contents will be loaded*/
#content {
  animation: 0.5s ease-out 0s 1 slideInFromDown; /*animate the first time page is loaded*/
  margin: auto;
  padding: 0em 2em;
  margin-bottom: 50px;
  line-height: 1.6em;
}