@keyframes slideInFromLeft {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  background: #f6f5f7;
  color: #777;
}

.contents {
  width: 100%;
  margin: 0;
  padding: 0;
}

#content {
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
  margin: 0 auto;
  padding: 0 2em;
  margin-bottom: 50px;
  line-height: 1.6em;
}
