/*for styling tables*/
/*used in {location,objects}.html*/
/*@copyright https://purecss.io/layouts/side-menu/*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  width: 33.3%;
}

.tableContainer {
  border-radius: 0.5rem;
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #cbcbcb;
  margin: auto;
  width: 100%;
  padding-top: 30px;
  text-align: center;
}
.tableContainer caption {
  color: #000;
  font: italic 85%/1 arial, sans-serif;
  padding: 1em 0;
  text-align: center;
}
.tableContainer td,
.tableContainer th {
  border-left: 1px solid #eeb501;
  border-width: 0 0 0 1px;
  font-size: inherit;
  margin: 0;
  overflow: visible;
  padding: 0.5em 1em;
}
.tableContainer thead {
  background-color: #eeda98;
  color: #ffffff;
  text-align: center;
  vertical-align: bottom;
}
.tableContainer td {
  background-color: transparent;
}

.tableContainer-odd td {
  background-color: #f2f2f2;
}